{if count($sort)>0}
<form action="{if $smarty.get.act1=='sorthome'}?act=content&amp;act1=homeupdate{else}{$action}{/if}" method="post">
<button type="submit">ЗАПАЗИ</button>
<div id="sort">
	{section name=sort loop=$sort}
	<div class="sortableitem">
		<input type="hidden" name="item[]" value="{$sort[sort].id}" />
		{if ($smarty.get.act=='galleries' && $smarty.get.do=='sortui') && $sort[sort].image!=''}
			<div style="float:left;margin:2px 5px 2px 2px;"><img src="{$sort[sort].image}" alt="{$sort[sort].filename}" /></div>
		{/if}
		<h3>{$sort[sort].title_bg}</h3>
		<div style="clear:both;"></div>
	</div>
	{/section}
</div>
<button type="submit">ЗАПАЗИ</button>
</form>
{else}
<p>Няма избрани</p>
{/if}
