<form action="main.php?act={$smarty.get.act}&amp;{if $smarty.get.act1}act1{else}do{/if}=delsubcat&amp;{if $smarty.get.rec}rec={$smarty.get.rec}{elseif $smarty.get.id}id={$smarty.get.id}{/if}{if $smarty.get.lang}&amp;lang={$smarty.get.lang}{/if}" method="post">
<div class="form">
	<h1 class="sifr">{$loc.content.16}{$title_bg}</h1>
	<p>{$loc.content.17}</p>
	<div class="row" style="margin-top:10px;">
		<div class="two columns"><input class="button expand postfix" type="submit" value="{$loc.content.15}" /></div>
		<div class="two columns"><input class="button expand postfix" type="button" onclick="history.back()" value="{$loc.content.14}" /></div>
	</div>
</div>
</form>
