<div class="form">
	<h1 class="sifr">
		<div style="float:right;font-size:12px;"><a href="{$backlink}">обратно</a></div>
		Оразмеряване на картинки
	</h1>
	
	{foreach from=$size key=k item=v}
	{*if $v.crop==true*}
	<div class="resize">
		<img src="{$dir}{$smarty.get.pic|replace:'.jpg':''}{$v.enl}.jpg?{$smarty.now}" width="{$v.width}" height="{$v.height}" alt="" border="0" />
		<br />
		<a href="main.php?act={$smarty.get.act}&amp;{if $smarty.get.act1!=''}act1{else}do{/if}=resizepic&amp;rec={$smarty.get.id}&amp;pic={$smarty.get.pic|escape:'url'}.jpg&amp;th_x={$v.width}&amp;th_y={$v.height}{if $smarty.get.type!=''}&amp;type={$smarty.get.type}{/if}" class="but edit" title="{$loc.content.11} {$v.width}/{$v.height}"></a>
		<p style="width:75px;font-weight:bold;">Размер {$v.width}/{$v.height}, разширение: "{$v.enl}.jpg"</p>
	</div>
	{*/if*}
	{/foreach}	
</div>