{if $smarty.get.act=='news' || $smarty.get.act=='' || $smarty.get.act=='content' || $smarty.get.act=='gallery' || $smarty.get.act=='products' || $smarty.get.act=='categories'}
<ul class="lang">
{foreach from=$loc.lang key=k item=v name=l}
	<li><a href="main.php?act={$smarty.get.act}&amp;lang={$k}" {if $k=='en'}class="en"{/if} style="{if $smarty.get.lang==$k}border-bottom:1px dashed #000{elseif $smarty.get.lang=='' && $k=='bg'}border-bottom:1px dashed #000{/if};">{$k}</a></li>
{/foreach}
</ul>
{/if}

