<nav class="top-bars">
	<ul>
	{section name=menu loop=$menu}
		<li{if $smarty.get.act==$menu[menu].menue} class="active"{/if}><a href="main.php?act={$menu[menu].menue}">{$menu[menu].key}</a></li>
	{/section}
	</ul>
</nav>

