<form action="" method="get">
	<input type="hidden" name="act" value="{$smarty.get.act}"/>
	<div class="row">
		<div class="six columns">
			<input type="text" name="where" placeholder="Търсена фраза" value="{$smarty.get.where}"/>
		</div>
		<div class="two columns end">
			<input class="button expand postfix" type="submit" value="Търси" />
		</div>
	</div>
</form>