<div class="form">
	<h1>
		<div style="float:right;font-size:12px;">Промяна<a href="main.php?act=tintyava&amp;act1=create&amp;lang={$lang}" class="but new" title="Нов"></a></div>
		{$loc.tintyava.1}
	</h1>
</div>

