.bigla3-new .inside-top-big .text-field h2 {
  font-size: 30px;
}
.bigla3-new .row {
  margin: 0;
}
.phone-rotate {
  background-image: url(rotate-smartphone.png);
  width: 64px;
height: 64px;
text-align: center;
margin: auto;
background-repeat: no-repeat;
display: none;
}
.threesixty .threesixty_images img.current-image {
    visibility: visible;
    cursor: url(../img/finger.png),auto;
}
.bigla3-new .threeD img {
  width: 100%;
}
.bigla3-new .two-screan {
  background: #2f2f2f;
  width: 100%;

  margin-top: 15px;
}
.bigla3-new .two-screan.down {
  background: none;
}
.bigla3-new .two-screan .left, .bigla3-new .two-screan .right {
  padding: 40px 10px;
}
#floor {
  width: 360px;
  float: right;
}
.bigla3-new .startimage {
  position: relative;
}
.bigla3-new .threeD {
  display: none;
}
.bigla3-new .startimage img {
  width: 100%;
}
.bigla3-new .startimage p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
  font-weight: bold;
}
.bigla3-new .startimage .nav_bar {
    position: absolute;
    top: 30%;
    right: 50%;
    z-index: 8;
    cursor: pointer;
}
footer .row .col-sm-3 {
  margin: 0;
  padding: 0;
}

/*.bigla3-new .startimage .nav_bar a {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    background: url(../img/assets/sprites.png) no-repeat;
    text-indent: -99999px;
}
.bigla3-new .startimage .nav_bar a.nav_bar_previous {
    background-position: 0 -73px !important;
}
.bigla3-new .startimage .nav_bar a.nav_bar_stop {
      background-position: 0 0px !important;
}
.bigla3-new .startimage .nav_bar a {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    background: url(../img/assets/sprites.png) no-repeat;
    text-indent: -99999px;
}
.bigla3-new .startimage .nav_bar a.nav_bar_next {
    background-position: 0 -104px !important;
}
.bigla3-new .startimage .nav_bar a {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    background: url(../img/assets/sprites.png) no-repeat;
    text-indent: -99999px;
}*/

.bigla3-new .two-screan .left ul li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.bigla3-new .two-screan .left ul li>a{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
}

.bigla3-new .two-screan .left ul li:hover {
  color: #f7323a;
}

.bigla3-new .two-screan .col-md-6:last-of-type, .apartment-full{
  border-left: 3px solid #1c1c1c;
}
.bigla3-new .two-screan .left .floor {
  display: inline-block;
}
.bigla3-new h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
}
.bigla3-new h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 43px;
  color: #fff;
}
.bigla3-new .two-screan .right .floor {
  display: inline-block;
}
.bigla3-new .two-screan .right p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}
.gallery  {
  margin: 30px 0 80px 0;
}
.gallery .col-sm-3 {
  padding: 0;
  position: relative;
}
.gallery .col-sm-3 img {
  width: 100%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.gallery .col-sm-3:hover img{
  opacity: 0.4;
}
.gallery .col-sm-3:hover p{
  opacity: 1;
}
.gallery .col-sm-3 p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.bigla3-new .down .zoom, .bigla3-new .down .zoom-out, .bigla3-new .down .close,.bigla3-new .down .position{
  float: none;
  width: 28px;
  height: 28px;
  vertical-align: sub;
}
.close {
  opacity: 1;
  margin: 0 !important;
}
.bigla3-new .zoom {
  display: none;
}
.bigla3-new .down .left .row:first-of-type img:first-of-type,.bigla3-new .down .right .row:first-of-type img:first-of-type, .zoom-out{
  margin-right: 15px;
}
.bigla3-new .down .left p, .bigla3-new .down .right p{
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  color: #fff;
}
.bigla3-new .down .floor-full, .bigla3-new .down .apartment-full  {

  display: none;
  background: #2f2f2f;
}
.bigla3-new .down .left, .bigla3-new .down .right {
  padding: 15px 0;
}
.bigla3-new .down .col-sm-6:first-of-type {
  position: relative;
}
.bigla3-new .down .col-md-6:first-of-type::before  {
  content: "";
  background-image: url('../img/arrow-up.png');
  width: 32px;
  height: 15px;
  position: absolute;
  top: -15px;
  left: 50%;
}

.bigla3-new .down .left .floors img {
  width: 457px;
  margin: 0;
  background: #202020;
  padding: 10px;
}
/*.bigla3-new .down .left .floors img {
  width: 100%!important;
  margin: 0;
  background: #202020;
  padding: 10px;
}*/
/*.bigla3-new .down .right .floors img {
  width: 60%;
  margin: 0;
}*/
.zoom-big-pic {
  display: none;
}
.active-zoom .floors #apartment {
  height: auto!important;
}


.bigla3-new .down .right .floors>div {
  background: #202020;
  width: 100%;

  margin: auto;
}
.bigla3-new #apartments-full {
  height: 247px;
}

.bigla3-new .down .right .disc table th{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  color: #fff;
  padding: 10px 0;
}
.bigla3-new .down .right .disc table td{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  color: #fff;
  padding: 10px 0;
  font-weight: bold;
}
.bigla3-new .down .right .disc table td:last-of-type{
  color: #fff;
  text-transform: uppercase;
}
.bigla3-new .down .right .disc table tr:first-of-type{
  border-bottom: 1px solid #f50b0b;
  padding: 10px;
}
.bigla3-new .down img.zoom-out {
  display: none;
}
.bigla3-new .down img.zoom-out, .bigla3-new .down img.zoom {
  width: 28px;
  height: 28px;
}
.bigla3-new .down .active {
  display: inline-block !important;
}
#zoom {
  display: inline-block;
  cursor: pointer;
}
.floor-full.active-zoom, .apartment-full.active-zoom {
  width: 150%;
  margin-left: -25%;
  height: 100% !important;
}
.none {
  display: none !important;
}
/*.apartment-full.active-zoom #apartment {
  width: 29%;
}*/
.price-list.scroll-table::-webkit-scrollbar {
    width: 12px;
}

.price-list.scroll-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.price-list.scroll-table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 8px rgb(247, 50, 58);
}
.bigla3-new .down .left>.row>.col-xs-6, .bigla3-new .down .right>.row>.col-xs-6 {
  padding: 0;
  margin: 0
}
.threesixty .threesixty_images img {
  left: 0;
  right: 0;
}
.bigla3-new .price-list {
  position: relative;
}
.bigla3-new .price-list.scroll-table {
  position: relative;
  height: 285px;
  overflow: overlay;
}
.bigla3-new .price-list a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.bigla3-new .price-list p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  color: #fff;
}
.bigla3-new .price-list table td {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 40px;
  color: #fff;
}
.bigla3-new .price-list table td:last-of-type {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 40px;
  color: #f7323a;
  font-weight: bold;
}
.bigla3-new .price-list table td.reserve {
  color: #fff;
}
.bigla3-new .price-list table td.free {
  color: #419d41;
}
.bigla3-new .price-list table tr {
  border-bottom: 1px solid #f7323a;
  cursor: pointer;
}
.bigla3-new .price-list {
  display: none;
}
#googleMap>div>div>div>div>div:nth-of-type(n+5)
 {
  -webkit-filter: invert(90%)  grayscale(1); /* Safari 6.0 - 9.0 */
  filter: invert(90%)  grayscale(1);
  z-index: 9999;
}
.black {
  position: absolute;
width: 100%;

z-index: 9999;
top: 0;
bottom: 0;
}
.out {
  position: relative;
}
#map {
  background: none;
  height: auto;
}
#map ul{
  top: 0;
  position: absolute;
  z-index: 9999999;
  width: 100%;
  top: 194px;
  padding-top: 0;
  pointer-events: none;
}
#googleMap {
  width: 100%;
  height: 440px;
}
#map ul li.i2 {
  background: none;
}
#googleMap p {
  color: #000;
}
#googleMap a {
  color: #cf1c23;
}
.short-links li, .short-links ul {
  display: inline-block;
}
.short-links li {
    margin-right: 10px;
}
.short-links li:last-of-type {
    margin-right: 0;
}
.short-links p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  display: inline-block;
}
.short-links p>span{
  color: #ed1c24;
}
.short-links .icon1 p::before {
  content: "";
  display: inline-block;
  background-image: url('../img/icon1.png');
  width: 40px;
  height: 40px;
  vertical-align: bottom;
  margin-right: 10px;
  background-size: contain;
}
.short-links .icon2 p::before {
  content: "";
  display: inline-block;
  background-image: url('../img/icon2.png');
  width: 40px;
  height: 40px;
  vertical-align: bottom;
  margin-right: 10px;
  background-size: contain;
}
.short-links .icon3 p::before {
  content: "";
  display: inline-block;
  background-image: url('../img/icon3.png');
  width: 40px;
  height: 40px;
  vertical-align: bottom;
  margin-right: 10px;
  background-size: contain;
}
.short-links ul li a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.short-links ul li a:hover > p::before {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	-webkit-transform: scale(1.10) rotate(0deg);
	-moz-transform: scale(1.10) rotate(0deg);
	-ms-transform: scale(1.10) rotate(0deg);
	-o-transform: scale(1.10) rotate(0deg);
	transform: scale(1.10) rotate(0deg);
	-moz-transition-duration: 0.4s; /* Firefox 4 */
	-webkit-transition-duration: 0.4s; /* Safari and Chrome */
	-o-transition-duration: 0.4s; /* Opera */
}
.floor-full.active-zoom .floors:last-of-type .zoom-pic {
  width: 100%;
}
.threesixty .nav_bar a:hover {
  background: url(../img/bigla-new.png) no-repeat;
}

@media (max-width: 1480px) {
  .floor-full.active-zoom, .apartment-full.active-zoom {
    width: 130%;
    margin-left: -15%;
    height: 100% !important;
}
.bigla3-new .threeD img {
  width: 60%;
  margin: auto;
}
.bigla3-new .startimage img {
    width: 60%;
    margin: auto;
    display: block;
}
}
@media (max-width: 1280px) {
  .floor-full.active-zoom, .apartment-full.active-zoom {
    width: 110%;
    margin-left: -5%;
    height: 100% !important;
}
.apartment-full.active-zoom #apartment {
  width: 100%;
}

}
@media (max-width: 1080px) {
  .floor-full.active-zoom, .apartment-full.active-zoom {
    width: 100%;
    margin-left: 0%;
    height: 100% !important;
}
}
@media (max-width: 991px) {
  footer .row .col-sm-2 {
    margin-top: 10px;
  }
  #zoom {
    display: none;
  }
  .bigla3-new .two-screan .col-md-6:last-of-type, .apartment-full {
    border-left: none;
  }
  .bigla3-new .two-screan .left ul li>a{
    display: block;
  }
  .bigla3-new .price-list a {
    display: block;
  }

}
@media (max-width: 769px) {
  .bigla3-new .threeD img {
      width: 100%;
      margin: auto;
  }

}

@media (max-width: 500px) {
  .bigla3-new .inside-top-big .text-field h2 {
      font-size: 20px;
  }
  .bigla3-new .two-screan .left, .bigla3-new .two-screan .right {
    padding: 10px 0;
  }
  .bigla3-new .two-screan .col-md-6:first-of-type{
    border-bottom:  3px solid #1c1c1c;
  }

  .bigla3-new h4 {
    font-size: 16px;
  }
  .bigla3-new .two-screan .apartment-full .right p {
    font-size: 17px;
  }
  .bigla3-new .two-screan .right p {
    font-size: 13px;
  }
  .bigla3-new .two-screan .left ul li {
    font-size: 23px;
  }
  #floor {
    width: 190px;
    margin-top: 20px;
  }
  .bigla3-new .down .left .floors img {
    width: 270px;
    margin: 0;
  }
  .bigla3-new #apartments-full {
    height: auto;
}
.bigla3-new .threeD img {
  width: 80%;
  margin: auto;
}
.bigla3-new .startimage img {
    width: 80%;
    margin: auto;
    display: block;
}
}
@media (max-width: 480px) {
  #googleMap {
    width: 100%;
    height: 600px;
  }
  #map ul{
    top: 100px;
  }
  #apartment {
    width: 100%;
  }
  .bigla3-new .down .right .disc table th {
    font-size: 12px;
  }
  .bigla3-new .down .right .disc table td {
    font-size: 11px;
  }
  .bigla3-new .two-screan .apartment-full .right p, .bigla3-new .down .left p {
    font-size: 15px;
}
.bigla3-new .price-list table td {
  font-size: 14px;
}
}
