::-ms-clear {display: none;}

.clear {
	font-size:1px;
	clear:both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

h1{font-size: 1.8em;}
h2{font-size: 1.5em;}

.top-bars {height: 45px;background-color: #000; line-height:45px; width:100%;}
.top-bars ul li {float: left;margin: 13px;}
.top-bars ul li a {font-size:12px; color: #fff;}

.lang {position: absolute;top: 20px;right: 20px;}
.lang li {float:left;margin-left:10px;}

#copyright {
    width: 209px;
    height: 79px;
    background: url("../../assets/css/performer_logo.jpg") no-repeat left top;
    position: fixed;
    right: 5px;
    bottom: 20px;
   	opacity: 0.4;
}
a#copyright:hover{opacity: 0.8;}

.legend {
	float: right;
	font-size: 12px;
}

img {max-width: 1000px !important;}

ul{list-style-type:none;}

a.but:link,
a.but:active,
a.but:visited,
a.but:hover
{
	display:block;
	padding:0px;
	width: 22px;
	height: 22px;
	color: black;
	text-align:center;
}

a.but:hover{
	background-color:#eeeeee;
}

.edit {
	background: url('../images/edit.gif') no-repeat center;
}

.delete {
	background: url('../images/delete.gif') no-repeat center;
}

.new {
	background: url('../images/note.gif') no-repeat center;
}

.show {
	background: url('../images/locked.gif') no-repeat center;
}

.hide {
	background: url('../images/unlocked.gif') no-repeat center;
}

.home {
	background: url('../images/home.gif') no-repeat center;
}

.nohome {
	background: url('../images/nohome.gif') no-repeat center;
}

.partners {
	background: url('../images/partners.gif') no-repeat center;
}

.nopartners {
	background: url('../images/nopartners.gif') no-repeat center;
}

.check {
	background: url('../images/check.gif') no-repeat center;
	float:left;
	margin-left:10px;
}

.sort {
	background: url('../images/arrange.gif') no-repeat center;
}

.pageup {
	background: url('../images/page_up.gif') no-repeat center;
}

.pagedown {
	background: url('../images/page_notop.gif') no-repeat center;
}

.cat{
	display:block;
	height:22px;
	float:left;
	font-size:14px;
	padding-top: 3px;
}

.login {padding-top:150px;}

.langs {
	font-weight: bold;
	border: 1px solid  #ccc;
	border-radius: 50%;
	-webkit-box-shadow: 2px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 1px 5px 0px rgba(50, 50, 50, 0.75);
	padding: 5px;
}

th, td {text-align: left;}
th {font-size:12px; padding: 9px 10px;}

/* ie7 */
.ie7 .columns{
    margin-right: -15px ;
    margin-left: -15px ;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.ie7 .row{
    clear: both;
    text-align: center;
}

.ie7 label {
   text-align: left;
}

.ie7 button {
    border: none;
}

.ie7 input {
	height:15px;
    outline: none;
}

.ie7 .offset-by-three {
    margin-left:25% !important;
}
.ie7 .offset-by-seven {
    margin-left:58.33% !important ;
}

/*
 * pages
 */

div.pages {
	clear:both;
	margin: 20px 0;
	text-align: center;
}

	div.pages ul,
	div.pages ul li {
		display: inline-block;
	}

	div.pages a,
	div.pages span {
		display: inline-block;
		border: 1px solid #4D95BA;
		padding: 3px; 
		margin: 0 8px 0 0;
		color: #4D95BA;
		text-decoration:none;
	}

	div.pages span {
		border: 1px solid #DDDDDD;
		color: #DDDDDD;
	}

	div.pages a:hover,
	div.pages a.on {
		border: 1px solid #000;
		color:#000;
	}

#footer{clear:both;}

#galleryHolder {border:1px solid #ccc; padding:10px 0px 0px; margin:5px; border-radius:5px;display:none;}
#galleryHolder input[type="file"] {margin:6px 0px;}
#galleryHolder .deleteGalleryRow {margin:2px 0px;}
#galleryAdd {margin:8px 0px 4px 6px;border-radius: 6px;}
.tintyavaTabs {margin: 8px 8px 0px;}
.galleryPreview{margin:9px 0px;}