/*
Copyright (c) 2003-2013, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

body
{
	/* Font */
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;

	/* Text color */
	color: #000;

	/* Remove the background color to make it transparent */
	background-color: #fff;
}


ul, div, p{ margin:0; padding:0}

ul { margin:0 0 0 20px}

ol,ul,dl
{

    padding:0 40px;
}

.clear {clear:both}

body, td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000; 
}

div, p, h1, h2, h3, h4 {margin:0; padding:0;}

ul { padding:0;	margin:0 0 0 15px;}

h1{
		color:#000; 
		font-size:22px;
		font-style:italic;
		font-weight:normal
	}
	
	h2 { 
		color:#000; 
		font-size:19px;
		font-weight:bold;
		line-height:1.3em;
		padding-bottom:10px
	}	

	h3 { 
		color:#000; 
		font-size:13px; 
		font-weight:bold;
		padding-bottom:13px
	}	
	
	h4 { 
		font-size:11px;
		color:#000;
		font-weight:bold;
		padding-bottom:10px
	}	
	
	h4 a { 
		font-size:11px; 
		text-decoration:none
	}
