html {    width: 100%;    height: 100%; }
body { font-family: 'Roboto Condensed', sans-serif; font-size:14px; background: #2f2f2f url(../img/bg.jpg) no-repeat top center; color: #fff;   width: 100%;    height: 100%; }
* { margin:0; padding:0; }
.clearfix:after {
	clear: both;
	display: block;
	content: " ";
	height: 0px;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hide these rules from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

ul { list-style:none; }
p {    color: #fff; }

a {
    text-decoration:none;
    -moz-transition-duration: 0.4s; /* Firefox 4 */
    -webkit-transition-duration: 0.4s; /* Safari and Chrome */
    -o-transition-duration: 0.4s; /* Opera */
    text-decoration: none;
}

a:hover {
    -moz-transition-duration: 0.4s; /* Firefox 4 */
    -webkit-transition-duration: 0.4s; /* Safari and Chrome */
    -o-transition-duration: 0.4s; /* Opera */
}

.c-c {
	max-width: 980px;
	margin: 0 auto;
	position: relative;
}

#logo {
	float: left;
	width: 252px;
	height: 58px;
	display: block;
	margin-top: 30px;
	background: url(../img/logo.png) no-repeat top;
}

header {
	position: relative;
	background: url(../img/header-bg.jpg) repeat-x top;
	height: 115px;
}

#navigation {
  float: right;
	padding-top: 50px;
}

#navigation li {
  float: left;
}

header nav #navigation li > a {
    display: block;
    color: #fff;
    line-height: 26px;
    text-align: center;
    padding: 0 15px;
    font-size: 13px;
    text-transform: uppercase;
		font-weight: 700;
}

header nav #navigation li > a:hover, header nav #navigation li > a.selected {
    border-bottom: 2px solid #ed1c24;
}

#lang {
	position: absolute;
	top: 0;
	right: 0;
}

#lang li {
	float: left;
}

#lang li a {
	display: block;
	font-size: 12px;
	color: #cac9c9;
	padding-top: 12px;
	width: 33px;
	height: 35px;
}

#lang li a:hover, #lang li a.selected {
	background: url(../img/lang-bg.png) no-repeat top;
	color: #ed1c24;
}

#lang li a span {
	padding-left: 7px;
}

#navigation-mobile {
	display: none;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	clear: both;
}


.content {
	background: url(../img/top-red.png) no-repeat top left;
	position: relative;
	padding-top: 1px;
}


#slider-index {
	width: 100%;
	height: 576px;
	position: relative;
	overflow: auto;
	background: url(../img/bottom-red.png) no-repeat bottom right;
	padding-bottom: 4px;
}

#slider-index ul li {
	width: 100%;
	height: 576px;
	float: left;
}

#slider-index ul li h1 {
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	bottom: 50px;
	background: rgba(28,28,28,0.8);
	line-height: 98px;
	padding: 0 40px;
	-moz-border-radius: 98px;
	-webkit-border-radius: 98px;
	-khtml-border-radius: 98px;
	border-radius: 98px;
}

#slider-index ul li .c-c {
	height: 576px;
	display: block;
	color: #fff;
}

#slider-index ul .slide1 {
	background: url(../img/slide1.jpg) no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#slider-index .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 12px;
	margin-left: auto;
	margin-right: auto;
	width: 55px;
}

#slider-index .dots li {
	text-indent: -999em;
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 0 2px;
	background: #fff;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-khtml-border-radius: 14px;
	border-radius: 14px;
}

#slider-index .dots li.active {
	background: #b61a20;
	opacity: 1;
}

#map {
	background: url(../img/map.jpg) no-repeat  center;
	height: 440px;
}

#map ul {
	padding-top: 194px;
}

#map ul li {
	float: left;
	width: 33.3%;
	height: 222px;
}

#map ul li.i1 {
	background: url(../img/i1.png) no-repeat top center;
}

#map ul li.i2 {
	background: url(../img/i2.png) no-repeat top center;
}

#map ul li.i3 {
	background: url(../img/i3.png) no-repeat top center;
}

#map ul li p {
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	padding-top: 76px;
}

#map ul li p span {
	font-weight: 700;
	display: block;
}

.map-top {
	display: block;
	width: 100%;
	height: 11px;
	background: #2f2f2f url(../img/map-top.jpg) no-repeat top right;
}

#i-projects {
	padding: 80px 0;
}

#i-projects ul li {
	width: 33.3%;
	float: left;
}

#i-projects ul li a {
	display: block;
	text-align: center;
	color: #fff;
}

#i-projects ul li a:hover, .service-nav li a:hover, .proud-nav li a:hover {
	opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

#i-projects ul li a:hover > span, .service-nav li a:hover > span, .proud-nav li a:hover > span {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	-webkit-transform: scale(1.10) rotate(0deg);
	-moz-transform: scale(1.10) rotate(0deg);
	-ms-transform: scale(1.10) rotate(0deg);
	-o-transform: scale(1.10) rotate(0deg);
	transform: scale(1.10) rotate(0deg);
	-moz-transition-duration: 0.4s; /* Firefox 4 */
	-webkit-transition-duration: 0.4s; /* Safari and Chrome */
	-o-transition-duration: 0.4s; /* Opera */
}

#i-projects ul li a h2 {
	font-size: 24px;
	font-weight: 300;
}

#i-projects ul li a h2 span {
	color: #cf1c23;
}

#i-projects ul li a > span {
	width: 100%;
	height: 180px;
	display: block;
	margin: 0 auto 15px;
	-moz-transition-duration: 0.4s; /* Firefox 4 */
	-webkit-transition-duration: 0.4s; /* Safari and Chrome */
	-o-transition-duration: 0.4s; /* Opera */
}

#i-projects ul li a.icon1 > span {
	background: url(../img/icon1.png) no-repeat top center;	
}

#i-projects ul li a.icon2 > span {
	background: url(../img/icon2.png) no-repeat top center;	
}

#i-projects ul li a.icon3 > span {
	background: url(../img/icon3.png) no-repeat top center;	
}

.inside-top {
	background: #1c1c1c url(../img/bottom-red.png) no-repeat bottom right;
	position: relative;
	width: 100%;
	padding-bottom: 4px;
}

.inside-top-big {
	background: #1c1c1c url(../img/bottom-red.png) no-repeat bottom right;
	position: relative;
	width: 100%;
	padding-bottom: 4px;
}

.inside-middle {
	background: none;
}

.inside-top .left-img {
	overflow: hidden;
	float: left;
	width: 35%;
	min-height: 525px;
}

.inside-top .right-img {
	overflow: hidden;
	float: right;
	width: 35%;
	min-height: 525px;
}

.about-page .left-img {
		background: url(../img/about-img.jpg) no-repeat right;
}

.service-page .left-img {
		background: url(../img/services-img.jpg) no-repeat right;
}

.service-page .right-img {
		background: url(../img/jilishta.jpg) no-repeat left;
}

.contact-page .left-img {
		background: url(../img/contact-img.jpg) no-repeat right;
}

.inside-top.projects-page {
	margin-bottom: -14px;
}

.inside-top.projects-page .left-img {
		background: #272727;
		min-height: 1036px;
}


.inside-top .right-part {
	float: left;
	width: 65%;
}

.inside-top .left-part {
	float: right;
	width: 65%;
}

.inside-top .text-field .padding20 {
	padding: 20px;
	width: 716px;
}

.inside-top-big .text-field .padding20 {
	padding: 20px 0;
}

.inside-top .left-part .padding20 {
	float: right;
	padding: 60px 20px;
}

.inside-top .text-field h2, .inside-top-big .text-field h2, .prices h2 {
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.inside-top .text-field h2 > span, .inside-top-big .text-field h2 > span, .prices h2 > span  {
	color: #cf1c23;
}

#shalevi {
	padding: 80px 0;
}

#shalevi ul li {
	width: 50%;
	float: left;
	color: #fff;
	text-align: center;
}


#shalevi ul li h2 {
	font-size: 24px;
	font-weight: 300;
}

#shalevi ul li h2 span {
	color: #cf1c23;
}

#shalevi ul li p {
	font-size: 18px;
	font-style: italic;
	line-height: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}

#shalevi ul li .us {
	width: 100%;
	height: 300px;
	display: block;
	margin: 0 auto 15px;
	-moz-transition-duration: 0.4s; /* Firefox 4 */
	-webkit-transition-duration: 0.4s; /* Safari and Chrome */
	-o-transition-duration: 0.4s; /* Opera */
}

#shalevi .shalev1 .us {
	background: url(../img/shalev1.png) no-repeat top center;	
}

#shalevi .shalev1 .sign {
	background: url(../img/shalev1-sign.png) no-repeat top center;
	width: 100%;
	height: 44px;
	display: block;
}

#shalevi .shalev2 .us {
	background: url(../img/shalev2.png) no-repeat top center;	
}

#shalevi .shalev2 .sign {
	background: url(../img/shalev2-sign.png) no-repeat top center;
	width: 100%;
	height: 44px;
	display: block;
}

.service-nav li {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}

.service-nav li a, .proud-nav li a {
	display: block;
	color: #fff;
}

.service-nav li a > span {
	display: block;
	width: 100%;
	height: 154px;
	margin-bottom: 10px;
		-moz-transition-duration: 0.4s; /* Firefox 4 */
	-webkit-transition-duration: 0.4s; /* Safari and Chrome */
	-o-transition-duration: 0.4s; /* Opera */
}

.service-nav li .s1 > span {
	background: url(../img/s1.png) no-repeat top center;	
}

.service-nav li .s2 > span {
	background: url(../img/s2.png) no-repeat top center;	
}

.service-nav li .s3 > span {
	background: url(../img/s3.png) no-repeat top center;	
}

.service-nav li .s4 > span {
	background: url(../img/s4.png) no-repeat top center;	
}

.service-nav li h3, .proud-nav li h3 {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}

.service-nav li h3 span {
	color: #cf1c23;
}

.proud-nav {
	padding: 30px 0;
}

.proud-nav li {
	width: 33.3%;
	float: left;
	margin-bottom: 30px;
}

.proud-nav li a > span {
	display: block;
	width: 100%;
	height: 154px;
	margin-bottom: 10px;
		-moz-transition-duration: 0.4s; /* Firefox 4 */
	-webkit-transition-duration: 0.4s; /* Safari and Chrome */
	-o-transition-duration: 0.4s; /* Opera */
}

.proud-nav li .p1 > span {
	background: url(../img/p1.png) no-repeat top center;	
}

.proud-nav li .p2 > span {
	background: url(../img/p2.png) no-repeat top center;	
}

.proud-nav li .p3 > span {
	background: url(../img/p3.png) no-repeat top center;	
}

.prices {
	padding: 30px 0;
}

.price-list {
	padding: 30px 0;
}

.price-list li {
	float: left;
	margin: 0 20px 20px 0;
}

.price-list li:last-child {
	margin-right: 0;
}

.news-list {
	width: 100%;
}

.news-list li {
	margin-bottom: 20px;
}

.news-list .news-thumb {
	display: block;
	float: left;
	width: 202px;
	height: 138px;
	background: url(../img/news-thumb.png) no-repeat;
	margin-right: 10px;
}

.news-list li h4 a {
	color: #fff;
}

.news-list li h4 {
	font-size: 20px;
	font-weight: normal;
	padding-top: 10px;
}

.news-list li .date {
	color: #ed1c24;
	font-size: 15px;
	font-weight: 300;
	margin: 12px 0;
	display: block;
}

.pagination {
	float: left;
	width: 100%;
	padding: 30px 0;
	overflow: hidden;
	position: relative;
}

.pagination ul {
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
}

.pagination ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 3px;
	padding: 0;
	position: relative;
	right: 50%;
}

.pagination ul li a.cy {
	display: block;
	border: 1px solid #414243;
	padding: 8px 14px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	font-size: 13px;
}

.pagination ul li a:hover {
	opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */	
}

.pagination ul li a.cy.selected {
	border: 1px solid #ed1c24;
	color: #fff;
}

.pagination ul li .left-arrow {
	display: inline-block;
	width: 10px;
	height: 35px;
	padding-right: 5px;
	background: url(../img/arrow-left.png) no-repeat center;
}

.pagination ul li .right-arrow {
	display: inline-block;
	width: 10px;
	height: 35px;
	padding-left: 5px;
	background: url(../img/arrow-right.png) no-repeat center;
}

.news-page {
	margin-bottom: -14px;
}

.big-thumb, .news-content {
	float: left;
}

.big-thumb {
	width: 32%;
}

.news-content {
	width: 68%;
	padding-bottom: 30px;
}

.inside-top-big .text-field .news-content h2 {
	font-size: 24px;
	font-weight: 300;
	text-transform:  capitalize;
	margin-bottom: 15px;
}

.inside-top-big .text-field .news-content .date {
	color: #ed1c24;
	font-size: 15px;
	font-weight: 300;
	margin: 12px 0;
	display: block;
}

.more-news {
	padding: 30px 0;
}

.more-news h2 {
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.city-c {
		color: #ed1c24;
	font-size: 18px;
	margin: 12px 0;
	display: block;
}

#contact-form {
	width: 620px;
	margin: 30px auto;
}

#contact-form h1 {
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 15px;
}

#contact-form .row {
	width: 100%;
	padding-bottom: 30px;
}

#contact-form .row .cell {
	width: 50%;
	float: left;
}

#contact-form .row  label {
	display: block;
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 4px;
}

#contact-form .row .cell input {
	background: #fff;
	border: none;
	line-height: 34px;
	height: 34px;
	width: 96%;
}

#contact-form .row textarea {
	background: #fff;
	border: none;
	height: 90px;
	width: 100%;
}

#contact-form .button {
	background: #ed1c24;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border: none;
	line-height: 34px;
	height: 34px;
	width: 140px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}


#contact-form input:hover.button {
		background: #aaaaaa;
}

.filters {
	padding: 10px 0;
	border-top: 1px solid #373737;
	border-bottom: 1px solid #373737;
	margin-bottom: 14px;
}

.filters .right {
	float: right;
}

.filters .right span, .filters .right input {
	float: left;
	display: block;
}

.filters .right input {
	margin-left: 4px;
}

.filters .right span {
	font-size: 13px;
	font-weight: 300;
	line-height: 24px;
}

.filters .right input {
	background: transparent;
	font-size: 13px;
	width: 40px;
	border: 1px solid #858585;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	line-height: 24px;
	height: 24px;
	color: #fff;
	padding: 0 10px;
}

.styled-select {
	width: auto;
	height: 24px;
	overflow: hidden;
	background:  #1c1c1c url(../img/arrow-select.png) no-repeat right;
	border: 1px solid #858585;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin-right: 5px;
}

.styled-select select {
	background: transparent;
	width: auto;
	padding: 5px 20px 5px 5px;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 24px;
	-webkit-appearance: none!important;
}

.styled-select select:focus {
  outline: none;
}

.nav-projects {
	float: right;
	width: 220px;
	margin-top: 30px;
}

.nav-projects li {
	background:  url(../img/stroke.jpg) no-repeat bottom left;
}

.nav-projects li.selected {
	background:  url(../img/bg-li.jpg) repeat-y  left;
}

.nav-projects li a {
	display: block;
	color: #cf1c23;
	font-size: 14px;
	line-height: 28px;
	padding-left: 15px;
	background:  url(../img/arrow-right.png) no-repeat center left;
}

.nav-projects li a:hover {
	color: #fff;
}

.ap-list {
	padding: 30px 0;
}

.ap-list h5 {
	color: #fff;
	font-size: 26px;
	font-weight: normal;
	line-height: 50px;
}

.gallery-p {
	padding-bottom: 20px;
}

.gallery-p .big-img {
	display: block;
	float: left;
	width: 620px;
	margin-right: 20px;
}

.gallery-p .big-img img {
	display: block;
	width: 100%;
	max-width: 100%;
}

.gallery-p ul {
	float: left;
}

.gallery-p ul li {
	margin-bottom: 4px;
}

.gallery-p ul li a {
	display: block;
	width: 202px;
	height: 138px;
	background: url(../img/news-thumb.png) no-repeat;
}

.ad-info h3 {
	font-size: 26px;
	line-height: 50px;
	font-weight: normal;
}

.ad-info .floor, .ad-info .room {
	display: block;
	color: #ed1c24;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

.ad-info p {
	padding: 20px 0 0 0;
	font-size: 13px;
}

.floor-plan {
	padding: 20px 0;
}


.floors-nav {
	height: 36px;
	width: 100%;
	background: #5b1c1e;
	position: relative;
}

.floors-nav ul  {
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
}

.floors-nav ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%;
}

.floors-nav ul li a {
	color: #fff;
	display: block;
	line-height: 36px;
	text-align: center;
	font-size: 18px;
	padding: 0 10px;
}

.floors-nav ul li a:hover {
	background: #a0a0a0;
}

.floors-nav ul li a.selected {
	background: #ed1c24;
	line-height: 44px;
	margin-top: -4px;
}

.project-inside {
	margin-bottom: -14px;
}

.sketch {
	padding: 20px 0;
}

.sketch img {
	width: 100%;
	max-width: 100%;
}

















footer {
	height: 50px;
	background: #2f2f2f url(../img/footer-bg.png) no-repeat top left;
}

footer p {
	color: #c9c9c9;
	font-size: 12px;
	float: left;
	line-height: 50px;
}

footer ul {
	float: right;
}

footer ul li {
	float: left;
	padding: 0 2px;
}

footer ul li a {
	color: #c9c9c9;
	font-size: 12px;
	line-height: 50px;
	text-transform: uppercase;
}

footer ul li span {
		color: #c9c9c9;
	font-size: 12px;
	line-height: 50px;
}

footer #logo-footer {
	width: 111px;
	height: 48px;
	background: url(../img/logo-footer.png) no-repeat top center;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -55px;
}





@media (max-width: 1200px) {

	.c-c {
		padding: 0 10px;
	}
	
	.prices, .more-news {
		padding: 30px 10px;
	}
	
	.inside-top .right-part .padding20, .inside-top .left-part .padding20 {
		padding: 3%;
		width: 76%;
	}
		

	
	
} /* end of max-width: 1200px */

@media (max-width: 1009px) {
	.inside-top.projects-page .left-img {
		width: 24%;
	}
	
	.inside-top.projects-page .right-part {
		width: 75%;
	}
	
	.inside-top.projects-page .right-part .padding20 {
		width: 95%;
	}
	
	.floors-nav {
		height: auto;
	}
	
	.floors-nav ul {
		clear:  none;
		float: none;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		left:  auto;
		text-align: center;
	}
	
	.floors-nav ul li {
		right: auto;
	}
	
	.floors-nav ul li a.selected {
		background: #ed1c24;
		line-height: 36px;
		margin-top: 0;
	}
	
	
	
	
}

@media (max-width: 979px) {
	
	.gallery-p .big-img {
		width: 100%;
		float: none;
	}
	
	.inside-top.projects-page .left-img {
		width: 98%;
		padding: 0 1%;
		float: none;
		min-height: 70px;
	}
	
	.inside-top.projects-page .left-img .nav-projects {
		display: none;
	}
	
	.inside-top.projects-page .right-part {
		width: 100%;
		float: none;
	}
	
	.inside-top.projects-page .right-part .filters .styled-select, .inside-top.projects-page .right-part .filters .right {
		float: none;
		margin-bottom: 5px;
	}
	
	.inside-top.projects-page .right-part .padding20 {
		width: 94%;
	}
	
	.inside-top.projects-page .right-part .styled-select select {
		width: 98%;
	}
	
	
	#logo {
		float: left;
		width: 176px;
		height: 41px;
		display: block;
		margin: 10px 0 0 0;
		background: url(../img/logo-small.png) no-repeat top;
	}
	
	#navigation {
		display: none;
	}
	
	#navigation-mobile {
		display: block;
	}	
} /* end of max-width: 979px */

@media (max-width: 767px) {
	
		.ap-list h5 {
		color: #fff;
		font-size: 26px;
		font-weight: normal;
		line-height: normal;
		margin-bottom: 10px;
	}
	

	.gallery-p ul {
		float: none;
		margin-top: 20px;
	}
	
	.gallery-p ul li {
		margin-bottom: 10px;
	}
	
	.gallery-p ul li a {
		display: block;
		width: 100%;
		height: auto;
		background: none;
	}
	
	.gallery-p ul li a img {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	
	
	
	footer #logo-footer  {
		display: none;
	}
	
	#slider-index {
		height: 400px;
	}
	
	#slider-index ul li h1 {
		font-size: 26px;
		font-weight: 300;
		text-transform: uppercase;
		position: absolute;
		right: 0;
		bottom: 50px;
		background: rgba(28,28,28,0.8);
		line-height: 28px;
		padding: 10px 24px;
		-moz-border-radius: 98px;
		-webkit-border-radius: 98px;
		-khtml-border-radius: 98px;
		border-radius: 98px;
	}
	
	#i-projects ul li, #shalevi ul li  {
		width: 100%;
		float: none;
		padding-bottom: 40px;
	}

	#i-projects ul li a > span {
		margin-bottom: 0;
	}
	
	#slider-index ul li .c-c {
		padding: 0 10px;
		height: 400px;
	}
	
	#slider-index ul li {
		height: 400px;
	}
	
	.inside-top .left-img, .inside-top .right-img {
		float: none;
		width: 100%;
		min-height: 200px;
	}
	
	.inside-top .right-part, .inside-top .left-part {
		float: none;
		width: 100%;
	}
	
	.inside-top .right-part .padding20, .inside-top .left-part .padding20 {
		width: 94%;
	}
	
	.big-thumb, .news-content {
	float: none;
	width: 100%;
	}

	
} /* end of max-width: 767px */

@media (max-width: 480px) {
	
	
	
	#contact-form {
		width: 100%;
		margin: 30px auto;
	}
	
	#map ul {
		padding-top:30px;
	}
	
	#map ul li {
		float: left;
		width: 100%;
		height: auto;
		padding-bottom: 70px;
	}
	
	#map ul li p {
		padding-top: 50px;
	}
	
	#map ul li p span {
		display: inline-block;
		padding-right: 10px;
	}
		
	footer ul {
		display: none;
	}	
		
	footer p {
		text-align: center;
		float: none;
	}
	
	.service-nav li, .proud-nav li {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	
	.price-list li {
		float: none;
		width: 100%;
		margin: 0 0 20px 0;
	}
	
	.price-list li a img {
		max-width: 100%;
		width: 80%;
		margin: 0 auto;
		display: block;
	}
	
	.news-list .news-thumb {
		float: none;
	}
	
	.news-list li {
		margin-bottom: 50px;
	}
	
	#contact-form .row .cell {
		width: 100%;
		float: none;
		padding-bottom: 30px;
	}
	
	#contact-form .row {
		padding-bottom: 0;
	}
	
	#contact-form .row .cell input {
		width: 100%;
	}
	
	
	
} /* end of max-width: 480px */









